@keyframes toggle {
  from{
    background-position: 0% 50%;
  } 
  to{
    background-position: 150%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #80ff80 0%, cyan 16%, magenta 50%, yellow 80%, #80ff80 100%);
  background-size: 300% 300%;
  animation: toggle 15s infinite linear;
}
.Logo{
  width: 200px;
  margin: 0 auto;
}
.Logo img{
  width: 100%;
}
.ButtonWrap{
  display: flex;
  width: 350px;
  margin-top: 50px;
  justify-content: space-between;
  margin: 100px auto 0;
}
.DiceWrap{
  display: flex;
  width: min(1200px,80%);
  height: 60vh;
  margin: 50px auto 0;
  justify-content: space-between;
  gap:5px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
